<%= form_for @order do |formulario| %>


  <div class="form-group">
    <label for="exampleInputEmail1">Número de Orden</label>
    <%= formulario.number_field :number, :class => "form-control" %>
    <small id="help" class="form-text text-muted">Recuerda revisar la orden.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Precio Final</label>
    <%= formulario.number_field :finalPrice, :class => "form-control" %>
    <small id="help" class="form-text text-muted">Recuerda revisar la orden.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Nombre del Cliente</label>
    <%= formulario.text_field :customerName, :class => "form-control" %>
    <small id="help" class="form-text text-muted">Recuerda revisar la orden.</small>
  </div>
  <%= formulario.submit  %>


<% end %>
